// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$c-primary: hsl(261, 100%, 40%);
$c-primary-b: #167FFB;
$c-secondary: #142F43;
$c-secondary-b: #FF5F7E;
$c-accent: #FFC600;
$c-accent-b: #26B99A;
$c-light: #F0F0F0;
