<div class="container d-flex flex-column align-items-center">
  <% if user_signed_in? %>
  <div class="banner">
    <h1>
      Welcome back,
      <span class="fw-300">
        <%= current_user.nickname || current_user.email %>
      </span>
    </h1>
    <i class="fas fa-chess-knight banner-knight"></i>
  </div>
  <%= render 'dashboard' %>

  <% else %>
    <div class="banner">
      <h1>
        Ready to become a chess master?
      </h1>
      <i class="fas fa-chess-knight banner-knight"></i>
    </div>
    <%= link_to "Sign in", new_user_session_path, class: 'button-primary' %>
  <% end %>
</div>
