<div class="container flex-fluid">
  <div  class="chessboard" data-controller="chessboard"
                           data-chessboard-target="chessboard"
                           data-action="click->chessboard#click">

    <%= render 'chessboard' %>
  </div>
  <div class="stats">
    <div class="stats-item">
      <h5>Moves played</h5>
      <p>12</p>
    </div>
    <div class="stats-item">
      <h5>Time elapsed</h5>
      <p>01:13</p>
    </div>
    <div class="stats-item">
      <h5>Time remaining</h5>
      <p>08:47</p>
    </div>
  </div>
</div>
