<div class="container flex-fluid">
  <div  class="chessboard" data-controller="chessboard"
                           data-chessboard-target="chessboard"
                           data-action="click->chessboard#click">

  <% if @game.moves.empty? %>
    <div id="0" class="box box-white text-center piece">
      <i class="fas fa-chess-rook piece-icon"></i>
    </div>
  <% else %>
    <div id="0" class="box box-black text-center piece">
      <i class="fas fa-chess-rook piece-icon"></i>
    </div>
  <% end %>
  <div class="stats">
    <div class="stats-item">
      <h5>Moves played</h5>
      <p>12</p>
    </div>
    <div class="stats-item">
      <h5>Time elapsed</h5>
      <p>01:13</p>
    </div>
    <div class="stats-item">
      <h5>Time remaining</h5>
      <p>08:47</p>
    </div>
  </div>
</div>
