.banner {
  margin-top: 4rem;
  padding: 3rem 1rem;
  background-color: $c-accent;
  border-radius: 1.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  text-align: center;
  box-shadow: -4px 8px 3px black;

  @media (min-width: 40rem) {
    font-size: 6rem;
  }
}
