.button-primary {
  margin-top: 2rem;
  padding: 1rem;
  width: 50%;
  display: inline-block;
  border-radius: 1.2rem;
  font-size: 1.6rem;
  text-align: center;
  background-color: $c-secondary-b;
  color: white;
  font-weight: 500;
  transform: scale(1);
  box-shadow: -5px 5px 1px white;
  transition: box-shadow 200ms;

  &:hover {
    text-decoration: none;
    color: white;
    box-shadow: -16px 16px 0 white;
    transition: all 200ms;
  }
}
