.piece {
  font-size: 1.7rem;
  text-shadow: 0px 0px 0.2rem white;

  @media (min-width: 40rem) {
    font-size: 3rem;
  }

  &-white {
    font-size: 1.7rem;
    text-shadow: 0px 0px 0.2rem black;
    color: white;

    @media (min-width: 40rem) {
      font-size: 3rem;
    }
  }

  &-selected {
    background-color: $c-secondary-b;
  }
}

.piece-icon {
  display: block;
  height: 100%;
  padding-top: 6px;
  @media (min-width: 40rem) {
    padding-top: 9px;
  }
}
