.stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  text-align: center;
  width: 100%;
  margin-top: 3rem;
  padding: 0;

  @media (min-width: 62rem) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
    padding: 0 1rem;
  }

  &-item {
    flex-basis: 0;
    margin: 0 3px;
    padding: 0 4px;
    flex-grow: 1;
    background-color: $c-accent;
    border-radius: 1.2rem;
    width: 100%;
    @media (min-width: 62rem) {
      margin-bottom: 1rem;
    }
  }

  h5, p {
    margin-bottom: 4px;
  }
}
