.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}

.flex-fluid {
  display: flex;
  justify-content: center;
  flex-direction: column;

  @media (min-width: 62rem) {
    margin-top: 3rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
